{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center">🛒 Liste des Produits</h1>

        <div class="d-flex justify-content-between mb-4">
            {% if is_granted('CREATE_PRODUCT') %}
                <a href="{{ path('product_new') }}" class="btn btn-primary">
                    ➕ Ajouter un produit
                </a>
            {% endif %}
            <a href="{{ path('products_export') }}" class="btn btn-success">Exporter en CSV</a>
        </div>

        <!-- Affichage sous forme de cartes -->
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ product.name }}</h5>
                            <p class="card-text text-muted">{{ product.description }}</p>
                            <h6 class="text-success"><strong>{{ product.price }} €</strong></h6>

                            <div class="d-flex justify-content-between mt-3">
                                {% if is_granted('EDIT_PRODUCT', product) %}
                                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="">
                                        <img src="{{ asset('images/flat-style-circle-edit_icon-icons.com_66939.svg') }}" alt="Modifier" width="20">
                                    </a>
                                {% endif %}

                                {% if is_granted('DELETE_PRODUCT', product) %}
                                    <form method="POST" action="{{ path('product_delete', {'id': product.id}) }}"
                                          onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit ?');">
                                        <button type="submit" class="border-0 bg-transparent p-0">
                                            <img src="{{ asset('images/usertrash_92829.svg') }}" alt="Supprimer" width="20">
                                        </button>
                                    </form>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
