{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier le produit : {{ product.name }}</h1>

        <div class="card p-4 shadow-sm">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-warning mt-3">Modifier</button>
            {{ form_end(form) }}
        </div>

        <a href="{{ path('products_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}